{% extends 'command/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
  <link rel="stylesheet" href="{% static 'css/command_form.css' %}" />
{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>Agent ID</th>
      <th>Last Heard</th>
      <th>Host</th>
      <th>Options</th>
    </tr>
    {% if agents %}
      {% for agent in agents %}
        <tr>
          <td>{{ agent.id }}</td>
          <td>{{ agent.last_heard }}</td>
          <td>{{ agent.host }}</td>
          <td>
            <button onclick="openForm(event);" style="width:fit-content">Enter Command</button>
            <button onclick="deleteAgent(event);" style="width:fit-content">Delete Agent</button>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </table>

  <!-- The command form -->
  <div class="form-popup" id="cmd_form">
    <form class="form-container" method="post" action="">
      {% csrf_token %}
      <h1>Submit Command</h1>
      <input type="hidden" name="cmd_form" />
      <label for="form_agent_id"><b>Agent ID</b></label>
      <input type="text" id="form_agent_id" name="agent_id" required readonly />
      <label for="cmd_type"><b>Command Type</b></label>
      <select name="cmd_type" id="cmd_type">
        <option value="ls">List Directory Contents</option>
      </select>
      <br />
      <br />
      <label for="cmd_args"><b>Command Arguments</b></label>
      <input type="text" id="cmd_args" name="cmd_args" />
      <button type="submit" class="btn">Submit</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>

  <!-- The Delete Agent Form (hidden) -->
  <form display="hidden" method="post" action="" name="delete_agent_form">
    {% csrf_token %}
    <input type="hidden" name="delete_agent_form" />
    <input type="hidden" id="delete_agent_field" name="agent_id" readonly />
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/agents.js' %}"></script>
{% endblock %}
