{% extends 'command/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>Agent ID</th>
      <th>Command Type</th>
      <th>Command Arguments</th>
      <th>Sent</th>
    </tr>
    {% if commands %}
      {% for cmd in commands %}
        <tr>
          <td>{{ cmd.agent_id.id }}</td>
          <td>{{ cmd.get_cmd_type_display }}</td>
          <td>{{ cmd.cmd_args }}</td>
          <td>{{ cmd.sent }}</td>
        </tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock %}

{% block scripts %}

{% endblock %}
